{% extends 'base.html' %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician Name</th>
            <th scope="col">Email</th>
            <th scope="col">Album Rating</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">Album Name</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% if request.user.is_authenticated %}
            <td>
                <a href="{% url 'edit_musician' i.musician.id %}">
                    {{ i.musician.First_name }}
                </a>
            </td>
            {% endif %}
            <td>{{ i.musician.Email }}</td>
            <td>{{ i.rating }}</td>
            <td>{{ i.musician.Instrument }}</td>
            <td>{{ i.album_name }}</td>
            <td>{{ i.release_date }}</td>
            {% if request.user.is_authenticated %}
            <td>
                <a class="btn btn-warning" href="{% url 'edit_album' i.id %} ">Edit</a> 
                <a class="btn btn-danger" href="{% url 'delete_album' i.id%}">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
